<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="Unity" version="5.11.9" targetFramework="net471" />
</packages>